<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " >
    <div style="margin: 0 10px;text-align:left;"class="btn btn-info"><%= message.user.name %><br>
    <h5><%= message.content %></h5></div><br>
  </div>
</div>