<hr>

<span id="current-user"><%=  current_user.id %></span>
  
<button id="join-button">Join Room</button>
<button id="leave-button">Leave Room</button>
<button onclick="vidOff()" id="onvideo">Off</button>
<button onclick="vidOn()" id="offvideo">On Video</button><br>
<div id="remote-video-container"></div>
<video id="localvideo" autoplay></video><hr/>
<hr>



<script>


let localstream;

      navigator.webkitGetUserMedia(options, function(stream) { 
      localvideo.srcObject = stream;
      localstream = stream;
      localvideo.play();
      }, function(e) { 
          }); 
  function vidOff() {
    console.log("video off")
      //clearInterval(theDrawLoop);
      //ExtensionData.vidStatus = 'off';
      localvideo.pause();
      localvideo.src = "";
      localstream.getTracks()[0].stop();
  }


  function vidOn() {
  if (navigator.mediaDevices.getUserMedia !== null) {
    var options = { 
    video:true, 
    audio:false 
    };  
    navigator.webkitGetUserMedia(options, function(stream) { 
    localvideo.srcObject = stream;
    localstream = stream;
    localvideo.play();
    }, function(e) { 
        }); 
    }
  }
</script>
