<% if user_signed_in? %>

  <div><strong>hey</strong> <%= current_user&.name %></div>

  <% User.all.each do |user| %>
    <% unless user == current_user %>
      <span style="margin:10px;"><%= link_to user.name , chats_video_path(user_id: user.id), method: :get  ,class: "btn btn-primary" %></span>
    <% end %>
  <% end %>

    
  <h1>Users online</h1>

  <ul id="online-users">
    <%= render partial: "pages/user", collection: User.online, as: :user %>
  </ul>

  <%#= link_to "video room", chats_index_path, class: "btn btn-primary" %>

  <%#= form_with(url: rooms_create_url, remote: true, class: "d-flex",id: "new_message" ) do |f| %>
    <%#= f.text_field :name, class: "form-control", autocomplete: 'off',id: "message_content" %>
    <%#= f.submit data: { disable_with: false } %>
  <%# end %><br>

  <div id="rooms">
    <%#= render @rooms %>
  </div>

  <% end %>
<script>
</script>